doctype html
html
  head
    meta(charset='UTF-8')
    title Bootstrap 3 Contact form with Validation
    script(src='http://s.codepen.io/assets/libs/modernizr.js', type='text/javascript')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='css/boot.css')
    link(rel='stylesheet', href='css/boot1.css')
    script(src='js/boot.js')
    script.
      $('document').ready(function(){
      $("#datepicker").datepicker({
      dateFormat:"dd-mm-yy",
      showWeek: true,
      changeMonth: true,
      changeYear: true,
      yearRange:"-116:+0"
      //maxDate:new Date(currentYear,CurrentMonth,CurrentDate)
      });
      });
    link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet prefetch', href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      form#contact_form.well.form-horizontal(action=' ', method='post')
        fieldset
          // Form Name
          legend Contact Us Today!
          // Text input
          .form-group
            label.col-md-4.control-label First Name
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input.form-control(name='firstname', placeholder='First Name', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label Last Name
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input.form-control(name='lastname', placeholder='Last Name', type='text')
          // date of birth
          .form-group
            label.col-md-4.control-label Date-Of-Birth
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-calendar
                input#datepick.form-control(name='dob', placeholder='dd-mm-yy', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label Phone #
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-earphone
                input.form-control(name='phone', placeholder='(+91)- 10 Digit mobile number', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label E-Mail
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-envelope
                input.form-control(name='email', placeholder='E-Mail Address', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label Address
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-home
                input.form-control(name='address', placeholder='Enter only area name', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label City
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-home
                input.form-control(name='city', placeholder='city', type='text')
          // Select Basic
          .form-group
            label.col-md-4.control-label State
            .col-md-4.selectContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-list
                select.form-control.selectpicker(name='state')
                  option(value=' ') Please select your state
                  option(value='Andaman and Nicobar Islands') Andaman and Nicobar Islands
                  option(value='Andhra Pradesh') Andhra Pradesh
                  option(value='Arunachal Pradesh') Arunachal Pradesh
                  option(value='Assam') Assam
                  option(value='Bihar') Bihar
                  option(value='Chandigarh') Chandigarh
                  option(value='Chhattisgarh') Chhattisgarh
                  option(value='Dadra and Nagar Haveli') Dadra and Nagar Haveli
                  option(value='Daman and Diu') Daman and Diu
                  option(value='Delhi') Delhi
                  option(value='Goa') Goa
                  option(value='Gujarat') Gujarat
                  option(value='Haryana') Haryana
                  option(value='Himachal Pradesh') Himachal Pradesh
                  option(value='Jammu and Kashmir') Jammu and Kashmir
                  option(value='Jharkhand') Jharkhand
                  option(value='Karnataka') Karnataka
                  option(value='Kerala') Kerala
                  option(value='Lakshadweep') Lakshadweep
                  option(value='Madhya Pradesh') Madhya Pradesh
                  option(value='Maharashtra') Maharashtra
                  option(value='Manipur') Manipur
                  option(value='Meghalaya') Meghalaya
                  option(value='Mizoram') Mizoram
                  option(value='Nagaland') Nagaland
                  option(value='Orissa') Orissa
                  option(value='Pondicherry') Pondicherry
                  option(value='Punjab') Punjab
                  option(value='Rajasthan') Rajasthan
                  option(value='Sikkim') Sikkim
                  option(value='Tamil Nadu') Tamil Nadu
                  option(value='Tripura') Tripura
                  option(value='Uttaranchal') Uttaranchal
                  option(value='Uttar Pradesh') Uttar Pradesh
                  option(value='West Bengal') West Bengal
          // Text input
          .form-group
            label.col-md-4.control-label Zip Code
            .col-md-4.inputGroupContainer
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-home
                input.form-control(name='zip', placeholder='Zip Code', type='text')
          // radio checks
          .form-group
            label.col-md-4.control-label Gender 
            .col-md-4
              .radio(style='margin-right:2px')
                label
                  input(type='radio', name='gender', value='male', style='margin-right:4px')
                  |   Male
                label
                  input(type='radio', name='gender', value='female')
                  |  Female
          // Success message
          #success_message.alert.alert-success(role='alert')
            | Success 
            i.glyphicon.glyphicon-thumbs-up
            |  Thanks for contacting us, we will get back to you shortly.
          // Button
          .form-group
            label.col-md-4.control-label
            .col-md-4
              button#btn.btn.btn-warning(type='submit')
                | Send 
                span.glyphicon.glyphicon-send
    // /.container
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js')
    script(src='js/index.js')
